<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>My Song Collection</title>
</head>
<body>
	<div class="jumbotron bg-dark text-center">
  		<h1 class="display-4 text-white">My Song Collection</h1>
	</div>
	<div class="col-md-4">
		<h1>Want new songs?</h1>
		<p>Unfortunately, only the admin can add new songs.</p>
		<p>Return to <a href="/">home page</a>.</p>
	</div>
</body>
</html>